@using ProjetoFourTask.Areas.Identity.Data
@model Equipe
@{
    ViewData["title"] = "Equipe";
}

<erro texto="@TempData["erro"]"></erro>
<mensagem texto="@TempData["msg"]"></mensagem>

@if (Model != null)
{
    <h1>Minha equipe</h1>
    <div class="container overflow-hidden">
        <div class="row gx-5 mt-4">

            <!--Card Equipe-->
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-dark">
                        <div class="text-center">
                            <h3 class="card-title">
                                <span>#@Model.EquipeId</span>
                                @Model.Nome
                                <span class="badge rounded-pill bg-info"> @Model.AreaAtuacao</span>
                            </h3>
                            <h5 class="card-subtitle mb-2 text-muted"><i>"@Model.Descricao"</i></h5>
                        </div>
                        <h5>Usuários</h5>
                        <ul class="list-group">
                            @foreach (Usuario usuario in Model.Usuarios)
                            {
                                <li class="list-group-item">@usuario.Nome</li>
                            }
                        </ul>
                    </div>
                    <div class="text-center mt-3">
                        <a data-bs-toggle="modal" data-bs-target="#modalSair" class="btn btn-outline-danger">Sair da equipe</a>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalSair">
                <form asp-action="Sair">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sair da equipe @Model.Nome</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p>Deseja realmente sair da equipe @Model.Nome?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                                <confirmar></confirmar>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Card Tarefas-->
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body text-dark">
                        <div class="text-center">
                            <h3 class="card-title">Tarefas</h3>
                        </div>
                        <ul class="list-group">
                            @foreach (Tarefa tarefa in Model.Tarefas)
                            {
                                <li class="list-group-item" data-bs-toggle="modal" data-bs-target="#modalTarefa" onclick="abrirModalTarefa('@tarefa.TarefaId','@tarefa.Titulo','@tarefa.Descricao','@tarefa.UsuarioId')">
                                    <a>@tarefa.Titulo</a>
                                    <span class="badge rounded-pill bg-success ms-2">@tarefa.Usuario?.Nome</span>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalTarefa">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTarefaTitulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="modalTarefaDescricao"></p>
                    <form asp-action="Aceitar" asp-controller="Tarefa">
                        <input type="hidden" id="inputHiddenTarefaId" name="tarefaId">
                        <button class="btn btn-sm btn-success" id="btnAceitarTarefa">Aceitar tarefa</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="text-center mt-5">
        <h5>Você não está em nenhuma equipe. Para ver as equipes disponíveis  <a asp-action="Listagem" asp-controller="Equipe">Clique aqui</a></h5>
    </div>
}

@section Scripts{
    <script>
        function abrirModalTarefa(id, titulo, descricao, usuarioId) {
            inputHiddenTarefaId.value = id
            document.getElementById("modalTarefaTitulo").innerText = "Tarefa: " + titulo
            document.getElementById("modalTarefaDescricao").innerText = "Descrição: " + descricao
            if (usuarioId != "") {
                document.getElementById("btnAceitarTarefa").className = "d-none"
            } else {
                document.getElementById("btnAceitarTarefa").className = "btn btn-sm btn-success"
            }
        }
    </script>
}