@model List<Equipe>
@{
    ViewData["title"] = "Listagem";
}

<h1>Listagem de Equipes</h1>

<table class="table mt-4">
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Área de atuação</th>
        <th>Data de Criação</th>
    </tr>

    @foreach (Equipe equipe in Model)
    {
        <tr>
            <td>@equipe.EquipeId</td>
            <td>@equipe.Nome</td>
            <td>@equipe.Descricao</td>
            <td>@equipe.AreaAtuacao</td>
            <td>@equipe.DataCriacao.ToShortDateString()</td>
        </tr>
    }
</table>